body{
    margin: 0%;
    background-color: white;
}

.header{
    background-color: black;
    height: 70px;
    width: 100%;
    margin-top: 0%;
}

.header h1{
    color: white;
    margin-top: 0%;
    margin-left: 0.5%;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 40px;
}

.header h2{
    color: rgb(255, 255, 255);
    margin-top: 0%;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 3%;
    float: right;
    font-size: 25px;
}

.logo{
    width: 120px;
    padding-top: 5px;
    float: left;
    margin-left: 3%;
}

.hrlogo{
    width: 180px;
    padding-top: 5px;
}

.preview{
    position: relative;
    text-align: center;
}

.preview img{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
}

.one{
    position: absolute;
    top: 5%;
    left: 15%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 80px;
    text-shadow: 3px 3px 3px black;
}

.two{
    position: absolute;
    top: 19%;
    left: 15%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 80px;
    text-shadow: 3px 3px 3px black;
}

.three{
    position: absolute;
    top: 33%;
    left: 15%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 80px;
    text-shadow: 3px 3px 3px black;
}

.four{
    position: absolute;
    top: 10%;
    right: 15%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 50px;
    text-shadow: 3px 3px 3px black;
    text-align: right;
}

.wrapper{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}

.btn{
    display: block;
    width: 176px;
    text-align: center; 
    color: black;
    background-color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    right: 15%;
    top: 55%;
}

.popup{
    display: block;
    width: 600px;
    background-color: black;
    border-radius: 25px;
    color: white;
    padding: 30px;
    position: relative;
    transition: .5s all;
    top: -1200px;
    left: -5%;
}

.popup span{
    float: left;
    margin: 20px 0;
    font-size: 40;
}

.popup input{
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

#modal:checked ~ .popup{
    top: -200px;
}

#modal{
    display: none;
}


.button{
    background: white;
    color: black;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1.5px black;
    }

.close{
    position: absolute;
    top: 5px;
    right: 7px;
    transform: rotate(45deg);
    cursor: pointer;
}

.zero-type{
    text-align: center;
    top: -100px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    position: relative;
    margin-top: 6%;
}

/* .f-href{
    height: 100px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 4%;
    box-shadow: 2px 2px 2px 4px black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 85px;
    text-decoration: none;
    color: black;
    position: absolute;
}

.f-img{
    float: right;
    position: absolute;
    top: -100%;
} 

.first-type{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */

.first-type{
    background-color: white;
    height: 100px;
    width: 75%;
    box-shadow: 2px 2px 2px 4px black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.f-text{
    float: left;
    font-size: 60px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin-top: 1.5%;
    margin-left: 4%;
}

.f-img{
    float: right;
    width: 18%;
    margin-right: 10%;
    margin-top: 1.5%;
}

.f-href{
    height: 100px;
    width: 100%;
    display: block;
}